*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{
    background:#050816;
    color:#fff;
    overflow-x:hidden;
}

#loading-screen{
    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:#000;

    z-index:999;

    animation:fadeLoading 0.8s ease 0.5s forwards;

    pointer-events:none;
}

nav{
    width:100%;
    padding:20px 50px;
    position:fixed;
    top:0;
    left:0;
    backdrop-filter:blur(10px);
    background:rgba(255,255,255,.05);
    z-index:1000;
}

.hero-logo{
    width:150px;
    height:150px;
    object-fit:cover;

    border-radius:50%;

    margin-bottom:25px;

    z-index:1;

    cursor:pointer;

    opacity:1;

    transition:opacity .8s ease;

    border:3px solid rgba(255,255,255,.15);

    box-shadow:
    0 0 20px rgba(160,32,240,.8),
    0 0 50px rgba(160,32,240,.5);

    animation: float 3s ease-in-out infinite;
}

.intro-video{
    display:none;

    width:150px;
    height:150px;

    object-fit:cover;

    border-radius:50%;

    opacity:0;

    z-index:1;

    transition:opacity .8s ease;

    border:3px solid rgba(255,255,255,.15);

    box-shadow:
    0 0 20px rgba(160,32,240,.8),
    0 0 50px rgba(160,32,240,.5);
}

.logo{
    position:relative;
    z-index:1000;
    display:flex;
    align-items:center;
    gap:12px;

    font-size:24px;
    font-weight:bold;
    color:#b14dff;

    margin-left:-30px;
}

.logo-text{
    display:flex;
    gap:0;
}

.bar{
    width:5px;
    height:28px;

    background:#c77dff;

    border-radius:10px;

    box-shadow:
    0 0 10px #a020f0,
    0 0 20px #a020f0;
}

.letter{
    display:inline-block;

    opacity:0;

    transform:translateX(20px);

    animation:navLogo .5s forwards;
}

.letter:nth-child(2){
    animation-delay:.1s;
}

.letter:nth-child(3){
    animation-delay:.2s;
}

.letter:nth-child(4){
    animation-delay:.3s;
}

.letter:nth-child(5){
    animation-delay:.4s;
}

.letter:nth-child(6){
    animation-delay:.5s;
}

.hero{
    min-height:95vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    position:relative;
    padding:20px;
}

.glow{
    width:350px;
    height:350px;
    background:#a020f0;
    position:absolute;
    border-radius:50%;
    filter:blur(140px);
    opacity:.3;
}

.hero h1{
    font-size:5rem;
    z-index:1;
}

.hero h2{
    color:#c77dff;
    z-index:1;
}

.hero p{
    margin:20px 0;
    color:#bbb;
    z-index:1;
}

.socials{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
    z-index:1;
}

.socials a{
    text-decoration:none;
    color:white;
    padding:14px 30px;
    border-radius:12px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(10px);
    transition:.3s;
}

.socials a:hover{
    transform:translateY(-5px);
    box-shadow:0 0 20px #a020f0;
}

.about,
.members{
    padding:30px 20px;
    max-width:1000px;
    margin:auto;
    text-align:center;
}

.about p{
    margin-top:20px;
    color:#bbb;
}

.cards{
    margin-top:40px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
}

.card{
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    border-radius:20px;
    padding:40px 20px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 25px rgba(160,32,240,.5);
}

.card h3{
    margin-top:15px;
}

.menu-btn{
    position:fixed;

    top:8px;
    right:20px;

    font-size:36px;

    color:#c77dff;

    cursor:pointer;

    user-select:none;

    transition:
    transform .2s ease,
    text-shadow .2s ease;
}

.menu-btn:hover{
    text-shadow:
    0 0 10px #a020f0,
    0 0 20px #a020f0;
}

.menu-btn:active{
    transform:scale(.8);
}

.menu{
    position:fixed;

    top:60px;
    right:15px;

    display:none;
    flex-direction:column;

    min-width:160px;

    background:rgba(15,15,25,.95);

    border:1px solid #c77dff;

    border-radius:15px;

    overflow:hidden;

    z-index:1000;

    box-shadow:
    0 0 10px #a020f0,
    0 0 20px rgba(160,32,240,.5),
    inset 0 0 10px rgba(160,32,240,.2);

    animation:menuGlow 2s ease-in-out infinite alternate;
}

.menu a{
    text-decoration:none;

    color:white;

    font-size:14px;

    padding:10px 14px;

    transition:.3s;
}

.menu a:hover{
    background:rgba(160,32,240,.2);
}

footer{
    text-align:center;
    padding:30px;
    color:#777;
}

@keyframes float{
    0%,100%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-10px);
    }
}

@keyframes navLogo{

    from{
        opacity:0;
        transform:translateX(20px);
    }

    to{
        opacity:1;
        transform:translateX(0);

        text-shadow:
        0 0 10px #c77dff,
        0 0 20px #a020f0;
    }

}

@keyframes fadeLoading{

    from{
        opacity:1;
    }

    to{
        opacity:0;
        visibility:hidden;
    }

}

@keyframes menuGlow{
    from{
        box-shadow:
        0 0 10px #a020f0;
    }

    to{
        box-shadow:
        0 0 20px #ffffff,
        0 0 30px #a020f0;
    }
}