*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#021138;
    color:white;
    overflow-x:hidden;
}

body::before{
    content:'';
    position:fixed;
    inset:0;

    background:
    radial-gradient(
        circle at top,
        rgba(0,217,255,.12),
        transparent 50%
    );

    pointer-events:none;
}

/* NAVBAR */

nav{
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:85px;

    display:flex;
    align-items:center;

    padding:0 30px;

    background:rgba(4,22,63,.95);

    backdrop-filter:blur(20px);

    border-bottom:
    1px solid rgba(255,255,255,.08);

    box-shadow:
    0 10px 30px rgba(0,0,0,.25);

    z-index:9999;
}

/* LOGO */

.logo{
    display:flex;
    align-items:center;
    gap:12px;

    font-size:22px;
    font-weight:700;
}

.logo span{
    width:5px;
    height:35px;

    background:#00d9ff;

    border-radius:999px;

    box-shadow:
    0 0 20px #00d9ff;
}

/* HERO */

.hero{
    min-height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:140px 20px 50px;
}

.badge{
    padding:12px 25px;

    border-radius:999px;

    border:
    1px solid rgba(0,217,255,.4);

    background:
    rgba(0,217,255,.08);

    color:#00d9ff;

    margin-bottom:40px;
}

.hero h1{
    font-size:70px;
    font-weight:900;
    font-style:italic;
}

.hero h2{
    font-size:70px;
    font-weight:900;
    font-style:italic;

    background:
    linear-gradient(
        90deg,
        #00d9ff,
        #4eb7ff
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

    text-shadow:
    0 0 25px rgba(0,217,255,.35);
}

.hero p{
    max-width:700px;

    margin-top:20px;

    line-height:1.8;

    opacity:.8;
}

/* LINKS */

.links{
    width:100%;
    max-width:800px;

    margin:auto;

    padding:0 20px 80px;

    display:flex;
    flex-direction:column;
    gap:20px;
}

.card{
    padding:25px;

    border-radius:24px;

    background:
    rgba(255,255,255,.04);

    border:
    1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    text-decoration:none;

    color:white;

    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);

    border-color:
    rgba(0,217,255,.3);

    box-shadow:
    0 0 25px rgba(0,217,255,.15);
}

.card h3{
    margin-bottom:5px;
}

.card span{
    opacity:.7;
}

/* FOOTER */

footer{
    text-align:center;

    padding:30px;

    opacity:.5;
}

/* MOBILE */

@media(max-width:768px){

    nav{
        padding:0 20px;
    }

    .hero h1{
        font-size:48px;
    }

    .hero h2{
        font-size:48px;
    }

}